httpx==0.27.0
fastapi==0.110.0
uvicorn==0.29.0
prometheus-client==0.20.0
opentelemetry-distro==0.44b0
opentelemetry-instrumentation-fastapi==0.44b0
opentelemetry-instrumentation-logging==0.44b0
opentelemetry-exporter-otlp==1.23.0
pyyaml==6.0.1
debugpy==1.8.1
pydantic==2.6.3
loguru==0.7.2
stackprinter==0.2.12
starlette==0.36.3
user_agents==2.2.0